.Advantage {
    width: 1064.01px;
    height: 915px;
    position: relative;
}

.Line4 {
    width: 1064px;
    height: 0;
    position: absolute;
    border: 2px #B1C7FF solid;
}

.Frame9 {
    position: absolute;
    left: 542px;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
}

.Group5 {
    position: relative;
    width: 522px;
    height: auto;
    margin-top: 25px;
}

.Group5 .title {
    width: 196px;
    color: #002033;
    font-size: 18px;
    font-family: Hauora, sans-serif;
    font-weight: 400;
    line-height: 27px;
}

.Group5 .description {
    width: 305px;
    margin-left: 217px;
    color: rgba(0, 32.38, 51, 0.70);
    font-size: 16px;
    font-family: Hauora, sans-serif;
    font-weight: 400;
    line-height: 24px;
}

.Line4Stroke {
    width: 522px;
    height: 2px;
    background: #B1C7FF;
}

.Title {
    position: absolute;
    height: 349px;
    left: 0;
    top: 50px;
}

.Title .main-title {
    width: 413px;
    color: #002033;
    font-size: 48px;
    font-family: Hauora, sans-serif;
    font-weight: 400;
    line-height: 72px;
}

.Title .sub-title {
    width: 413px;
    margin-top: 241px;
    color: rgba(0, 32.38, 51, 0.70);
    font-size: 18px;
    font-family: Hauora, sans-serif;
    font-weight: 400;
    line-height: 27px;
}
