/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family: 'Lora', serif;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
/* Подключение шрифта Hauora Regular */
@font-face {
    font-family: 'Hauora';
    src: url('../fonts/Hauora-Regular.ttf') format('truetype');
    font-weight: 400;
}

/* Подключение шрифта Hauora Bold */
@font-face {
    font-family: 'Hauora';
    src: url('../fonts/Hauora-Bold.ttf') format('truetype');
    font-weight: 700;
}

/* Подключение шрифта Hauora SemiBold */
@font-face {
    font-family: 'Hauora';
    src: url('../fonts/Hauora-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

/* Подключение шрифта Relic */
@font-face {
    font-family: 'Relic';
    src: url('../fonts/relicpro-canonictrial.ttf') format('truetype');
    font-weight: normal;
}

body{
    background: #FEFEFE;

    margin: 0;
    padding: 0;
    height: 100%;
}
p{
    font-family: 'Hauora';
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;

    color: rgba(0, 32.38, 51, 0.70);
}

h1 {
    font-family: 'Relic';
    font-size: 96px;
    line-height: 1.2;
}
h2{
    font-family: 'Relic';
    font-size: 80px;
    line-height: 1.1;
}
h3{
    font-size: 48px;
    line-height: 1.5;
    font-family: 'Hauora';
    font-weight: 400;
}
h4 {
    font-size: 18px;
    font-family: Hauora, sans-serif;
    font-weight: 400;
    line-height: 27px;
}

.page{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 200px; /* Расстояние между элементами внутри контейнера */
    padding: 200px 0; /* Внутренний отступ сверху и снизу контейнера */
}